Button {

    -fx-background-color: transparent;
    -fx-min-width: 180px;
    -fx-min-height: 35px;
    -fx-border-radius: 20;
    -fx-background-size: contain;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-image:  url("../../../resources/icons/menuButton.png");

}




Button:hover {

    -fx-background-image:  url("../../../resources/icons/menuButtonHover.png");
    -fx-text-fill: black;
}

Button:hover:pressed{
    -fx-background-image:  url("../../../resources/icons/menuButtonPressed.png");
    -fx-text-fill: white;
}

#buttonRedHover:hover:pressed{
    -fx-background-image:  url("../../../resources/icons/menuButtonExit.png");
    -fx-text-fill: black;
}

#buttonRedHover:hover{
    -fx-background-image:  url("../../../resources/icons/menButtonExitHover.png");
    -fx-text-fill: black;
}

#buttonGreenHover:hover {
    -fx-background-image: url("../../../resources/icons/menButtonStartHover.png");
    -fx-text-fill: black;
}

#buttonGreenHover:hover:pressed{
    -fx-background-image:  url("../../../resources/icons/menuButtonStartPressed.png");
    -fx-text-fill: black;
}

#gameLayout{
    -fx-background-image: url("../../../resources/icons/wallpaper.png");

}



#sideBar {
    -fx-background-color: white;
}

#mainMenu{
    -fx-background-position: center;
    -fx-background-size: stretch;
}

#topLayout {
}

#kreis0{
    -fx-fill: rgba(255, 255, 255, 0.8);
}

#kreis1 {
    -fx-fill: rgba(221, 66, 85, 0.8);
}

#kreis2 {
    -fx-fill: rgba(51, 195, 98, 0.8);
}

#kreis3 {
    -fx-fill: rgba(66, 107, 221, 0.8);;
}

#kreis4 {
    -fx-fill: rgba(252, 179, 74, 0.8);
}

#kreis5 {
    -fx-fill: rgba(90, 90, 100, 0.8);
}

#kreis6 {
    -fx-fill: rgba(80, 191, 180, 0.8);
}

#kreis7 {
    -fx-fill: rgba(242, 157, 163, 0.8)
}



#frageTextfeld {
}

#richtigButton {
    -fx-background-color: greenyellow;
}

#falschButton {
    -fx-background-color: crimson;
}

#normalButton {
}

#negWuerfel {
    -fx-background-image: url("../../../resources/icons/negWuerfel.png");
    -fx-background-color: transparent;
    -fx-min-width: 70px;
    -fx-min-height: 70px;

}

#posWuerfel {
    -fx-background-image: url("../../../resources/icons/posWuerfel.png");
    -fx-background-color: transparent;
    -fx-min-width: 70px;
    -fx-min-height: 70px;

}

#negWuerfel:pressed {
    -fx-background-image: url("../../../resources/icons/negWuerfel_pressed.png");
    -fx-background-color: transparent;
    -fx-min-width: 70px;
    -fx-min-height: 70px;

}

#posWuerfel:pressed {
    -fx-background-image: url("../../../resources/icons/posWuerfel_pressed.png");
    -fx-background-color: transparent;
    -fx-min-width: 70px;
    -fx-min-height: 70px;

}

#progressBarOrange .bar{
    -fx-background-color: darkorange;
    -fx-border-width: 0

}

#progressBarRed .bar{
    -fx-background-color: #ff514c;
    -fx-border-width: 0

}

.progress-bar .bar {
    -fx-background-color: chartreuse;
    -fx-border-width: 0
}

.progress-bar .track {
    -fx-background-color: gainsboro;
    -fx-border-style: none;

}



#grossText {
    -fx-font-size: 30;
}

#introScreen {
    -fx-background-color: rgba(0,0,0,0.67);
}

#loadingScreen {
    -fx-background-color: lightcoral;
}

#frageIntro {
    -fx-background-color: black;

}

#richtigCoverButton {
    -fx-effect: dropshadow(three-pass-box, rgba(72, 255, 104, 0.8), 10, 0.8, 0, 0);

}

#falschCoverButton {
    -fx-effect: dropshadow(three-pass-box, #ff4e37, 10, 0.8, 0, 0);

}

#pauseButton{
    -fx-background-image: url("../../../resources/icons/pause.png");
    -fx-background-color: transparent;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}

#pauseButton:hover{
    -fx-background-image: url("../../../resources/icons/pause_hover.png");
}

#pauseButton:hover:pressed{
    -fx-background-image: url("../../../resources/icons/pause_pressed.png");

}

#pauseButton:pressed{
    -fx-background-image: url("../../../resources/icons/pause_pressed.png");

}

#negWuerfel, #posWuerfel {
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
}

#aktFeldMakierung{
    -fx-background-image: url("../../../resources/icons/aktMakierung.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;

}

#frageButton{
    -fx-text-alignment: left;
}

.spieler-nummer {
    -fx-text-fill: white;
    -fx-font-size: 30;
}

.spieler-box {
    -fx-font-size: 15;
}

.achievements .list-cell {
    -fx-background-color: transparent;
    -fx-alignment: baseline-center;
}

.achievements {
    -fx-background-color: transparent;
}

.achievements:selected {
    -fx-border-width: 0;
}

#imageViewerLeft{
    -fx-background-image: url("../../../resources/icons/imageViewerLeft.png");
}

#imageViewerLeft:hover{
    -fx-background-image: url("../../../resources/icons/imageViewerLeft_Hover.png");

}

#imageViewerLeft:hover:pressed{
    -fx-background-image: url("../../../resources/icons/imageViewerLeft_Pressed.png");
}


#imageViewerRight{
    -fx-background-image: url("../../../resources/icons/imageViewerRight.png");
}

#imageViewerRight:hover{
    -fx-background-image: url("../../../resources/icons/imageViewerRight_Hover.png");

}

#imageViewerRight:hover:pressed{
    -fx-background-image: url("../../../resources/icons/imageViewerRight_Pressed.png");
}

#imageViewerLeft, #imageViewerRight{
    -fx-background-size: 30%;
}

#schriftMittel, #frageText{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;


}

.leben-icon {
    -fx-background-image: url("../../../resources/icons/leben.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#leben-icon-big{
    -fx-background-image: url("../../../resources/icons/leben-icon-big.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.feld-icon-positiv{
    -fx-background-image: url("../../../resources/icons/feldIconPositiv.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

.kein-leben-icon {
    -fx-background-image: url("../../../resources/icons/leben_grau.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

#gelaufeneFelder{
    -fx-background-image: url("../../../resources/icons/gelaufeneFelder.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;
}

#lebenAmEnde{
    -fx-background-image: url("../../../resources/icons/lebenAmEnde.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;
}

#richtigeAntworten{
    -fx-background-image: url("../../../resources/icons/richtigeAntworten.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;
}

#falscheAntworten{
    -fx-background-image: url("../../../resources/icons/falscheAntworten.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;
}

#falscheAntworten{
    -fx-background-image: url("../../../resources/icons/falscheAntworten.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;
}

#durchschnitt{
    -fx-background-image: url("../../../resources/icons/durchschnitt.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;
}

#zeitAbgelaufen{
    -fx-background-image: url("../../../resources/icons/zeitAbgelaufen.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center;
}

#gewinnerListView{
    -fx-background-color: darkorange;
}

#gewinnerListView.list-cell, #gewinnerListView:filled:selected:focused, #gewinnerListView:filled:selected, #gewinnerListView.list-cell:even, #gewinnerListView:filled:hover{
    -fx-background-color: darkorange;
}

#endScreenFill1{
    -fx-background-color: #ff8e7d;
}

#endScreenFill2{
    -fx-background-color: #a3ffaa;
}

#endScreenFill3{
    -fx-background-color: #5fbbff;
}

#endScreenFill4{
    -fx-background-color: #b1b4b2;
}

.maps-spieler-liste, .maps-spieler-liste:focused, .maps-spieler-liste:selected, .maps-spieler-liste .list-cell {
    -fx-background-color: white;
}

.maps-spieler-liste .list-cell:focused, .maps-spieler-liste .list-cell:selected {
    -fx-background-color: lightgray;
}