Button{

    -fx-background-color: transparent;
    /* -fx-min-width: 50px;
     -fx-min-height: 50px;
 */
}

#sideBar{
    -fx-background-color: white;
}

#topLayout{
    -fx-background-color: white;
}

#kreis{
    -fx-background-color: darkgreen;
}


#frageTextfeld{
    -fx-background-color: antiquewhite;
}

#richtigButton{
    -fx-background-color: greenyellow;
}

#falschButton{
    -fx-background-color: crimson;
}

#normalButton{
}

#negWuerfel{
    -fx-background-image: url("../../../resources/icons/negWuerfel.png");
}

#posWuerfel{
    -fx-background-image: url("../../../resources/icons/posWuerfel.png");
}

#negWuerfel:pressed{
    -fx-background-image: url("../../../resources/icons/negWuerfel_pressed.png");
}

#posWuerfel:pressed{
    -fx-background-image: url("../../../resources/icons/posWuerfel_pressed.png");
}

#negWuerfel, #posWuerfel{
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
}