
#interpretfeldleer{
    -fx-background-image: url("../../resources/icons/artistfeldLeer.png");
}

#coverfeldleer{
    -fx-background-image: url("../../resources/icons/coverfeldLeer.png");
}

#ereignisfeldleer{
    -fx-background-image: url("../../resources/icons/ereignisfeldLeer.png");
}

#faktfeldleer{
    -fx-background-image: url("../../resources/icons/faktfeldLeer.png");
}

#titelfeldleer{
    -fx-background-image: url("../../resources/icons/titelfeldLeer.png");
}

#endfeldleer{
    -fx-background-image: url("../../resources/icons/endfeldLeer.png");

}




#interpretfeldp1{
    -fx-background-image: url("../../resources/icons/artistfeldP1.png");
}

#coverfeldp1{
    -fx-background-image: url("../../resources/icons/coverfeldP1.png");
}

#ereignisfeldp1{
    -fx-background-image: url("../../resources/icons/ereignisfeldP1.png");
}

#faktfeldp1{
    -fx-background-image: url("../../resources/icons/faktfeldP1.png");
}

#titelfeldp1{
    -fx-background-image: url("../../resources/icons/titelfeldP1.png");
}

#endfeldp1{
    -fx-background-image: url("../../resources/icons/endfeldP1.png");

}


#interpretfeldp2{
    -fx-background-image: url("../../resources/icons/artistfeldP2.png");
}

#coverfeldp2{
    -fx-background-image: url("../../resources/icons/coverfeldP2.png");
}

#ereignisfeldp2{
    -fx-background-image: url("../../resources/icons/ereignisfeldP2.png");
}

#faktfeldp2{
    -fx-background-image: url("../../resources/icons/faktfeldP2.png");
}

#titelfeldp2{
    -fx-background-image: url("../../resources/icons/titelfeldP2.png");
}

#endfeldp2{
    -fx-background-image: url("../../resources/icons/endfeldP2.png");

}



#coverfeldp3{
    -fx-background-image: url("../../resources/icons/coverfeldP3.png");
}

#ereignisfeldp3{
    -fx-background-image: url("../../resources/icons/ereignisfeldP3.png");
}

#faktfeldp3{
    -fx-background-image: url("../../resources/icons/faktfeldP3.png");
}

#titelfeldp3{
    -fx-background-image: url("../../resources/icons/titelfeldP3.png");
}

#endfeldp3{
    -fx-background-image: url("../../resources/icons/endfeldP3.png");

}


#interpretfeldp4{
    -fx-background-image: url("../../resources/icons/artistfeldP4.png");
}

#coverfeldp4{
    -fx-background-image: url("../../resources/icons/coverfeldP4.png");
}

#ereignisfeldp4{
    -fx-background-image: url("../../resources/icons/ereignisfeldP4.png");
}

#faktfeldp4{
    -fx-background-image: url("../../resources/icons/faktfeldP4.png");
}

#titelfeldp4{
    -fx-background-image: url("../../resources/icons/titelfeldP4.png");
}

#endfeldp4{
    -fx-background-image: url("../../resources/icons/endfeldP4.png");

}



#interpretfeldp12{
    -fx-background-image: url("../../resources/icons/artistfeldP12.png");
}

#coverfeldp12{
    -fx-background-image: url("../../resources/icons/coverfeldP12.png");
}

#ereignisfeldp12{
    -fx-background-image: url("../../resources/icons/ereignisfeldP12.png");
}

#faktfeldp12{
    -fx-background-image: url("../../resources/icons/faktfeldP12.png");
}

#titelfeldp12{
    -fx-background-image: url("../../resources/icons/titelfeldP12.png");
}

#endfeldp12{
    -fx-background-image: url("../../resources/icons/endfeldP12.png");

}


#interpretfeldp13{
    -fx-background-image: url("../../resources/icons/artistfeldP13.png");
}

#coverfeldp13{
    -fx-background-image: url("../../resources/icons/coverfeldP13.png");
}

#ereignisfeldp13{
    -fx-background-image: url("../../resources/icons/ereignisfeldP13.png");
}

#faktfeldp13{
    -fx-background-image: url("../../resources/icons/faktfeldP13.png");
}

#titelfeldp13{
    -fx-background-image: url("../../resources/icons/titelfeldP13.png");
}

#endfeldp13{
    -fx-background-image: url("../../resources/icons/endfeldP13.png");

}


#interpretfeldp14{
    -fx-background-image: url("../../resources/icons/artistfeldP14.png");
}

#coverfeldp14{
    -fx-background-image: url("../../resources/icons/coverfeldP14.png");
}

#ereignisfeldp14{
    -fx-background-image: url("../../resources/icons/ereignisfeldP14.png");
}

#faktfeldp14{
    -fx-background-image: url("../../resources/icons/faktfeldP14.png");
}

#titelfeldp14{
    -fx-background-image: url("../../resources/icons/titelfeldP14.png");
}

#endfeldp14{
    -fx-background-image: url("../../resources/icons/endfeldP14.png");

}


#interpretfeldp23{
    -fx-background-image: url("../../resources/icons/artistfeldP23.png");
}

#coverfeldp23{
    -fx-background-image: url("../../resources/icons/coverfeldP23.png");
}

#ereignisfeldp23{
    -fx-background-image: url("../../resources/icons/ereignisfeldP23.png");
}

#faktfeldp23{
    -fx-background-image: url("../../resources/icons/faktfeldP23.png");
}

#titelfeldp23{
    -fx-background-image: url("../../resources/icons/titelfeldP23.png");
}

#endfeldp23{
    -fx-background-image: url("../../resources/icons/endfeldP23.png");

}


#interpretfeldp24{
    -fx-background-image: url("../../resources/icons/artistfeldP24.png");
}

#coverfeldp24{
    -fx-background-image: url("../../resources/icons/coverfeldP24.png");
}

#ereignisfeldp24{
    -fx-background-image: url("../../resources/icons/ereignisfeldP24.png");
}

#faktfeldp24{
    -fx-background-image: url("../../resources/icons/faktfeldP24.png");
}

#titelfeldp24{
    -fx-background-image: url("../../resources/icons/titelfeldP24.png");
}

#endfeldp24{
    -fx-background-image: url("../../resources/icons/endfeldP24.png");

}


#interpretfeldp34{
    -fx-background-image: url("../../resources/icons/artistfeldP34.png");
}

#coverfeldp34{
    -fx-background-image: url("../../resources/icons/coverfeldP34.png");
}

#ereignisfeldp34{
    -fx-background-image: url("../../resources/icons/ereignisfeldP34.png");
}

#faktfeldp34{
    -fx-background-image: url("../../resources/icons/faktfeldP34.png");
}

#titelfeldp34{
    -fx-background-image: url("../../resources/icons/titelfeldP34.png");
}

#endfeldp34{
    -fx-background-image: url("../../resources/icons/endfeldP34.png");

}


#interpretfeldp123{
    -fx-background-image: url("../../resources/icons/artistfeldP123.png");
}

#coverfeldp123{
    -fx-background-image: url("../../resources/icons/coverfeldP123.png");
}

#ereignisfeldp123{
    -fx-background-image: url("../../resources/icons/ereignisfeldP123.png");
}

#faktfeldp123{
    -fx-background-image: url("../../resources/icons/faktfeldP123.png");
}

#titelfeldp123{
    -fx-background-image: url("../../resources/icons/titelfeldP123.png");
}

#endfeldp123{
    -fx-background-image: url("../../resources/icons/endfeldP123.png");

}



#interpretfeldp124{
    -fx-background-image: url("../../resources/icons/artistfeldP124.png");
}

#coverfeldp124{
    -fx-background-image: url("../../resources/icons/coverfeldP124.png");
}

#ereignisfeldp124{
    -fx-background-image: url("../../resources/icons/ereignisfeldP124.png");
}

#faktfeldp124{
    -fx-background-image: url("../../resources/icons/faktfeldP124.png");
}

#titelfeldp124{
    -fx-background-image: url("../../resources/icons/titelfeldP124.png");
}

#endfeldp124{
    -fx-background-image: url("../../resources/icons/endfeldP124.png");

}



#interpretfeldp134{
    -fx-background-image: url("../../resources/icons/artistfeldP134.png");
}

#coverfeldp134{
    -fx-background-image: url("../../resources/icons/coverfeldP134.png");
}

#ereignisfeldp134{
    -fx-background-image: url("../../resources/icons/ereignisfeldP134.png");
}

#faktfeldp134{
    -fx-background-image: url("../../resources/icons/faktfeldP134.png");
}

#titelfeldp134{
    -fx-background-image: url("../../resources/icons/titelfeldP134.png");
}

#endfeldp134{
    -fx-background-image: url("../../resources/icons/endfeldP134.png");

}



#interpretfeldp234{
    -fx-background-image: url("../../resources/icons/artistfeldP234.png");
}

#coverfeldp234{
    -fx-background-image: url("../../resources/icons/coverfeldP234.png");
}

#ereignisfeldp234{
    -fx-background-image: url("../../resources/icons/ereignisfeldP234.png");
}

#faktfeldp234{
    -fx-background-image: url("../../resources/icons/faktfeldP234.png");
}

#titelfeldp234{
    -fx-background-image: url("../../resources/icons/titelfeldP234.png");
}

#endfeldp234{
    -fx-background-image: url("../../resources/icons/endfeldP234.png");

}



#interpretfeldp1234{
    -fx-background-image: url("../../resources/icons/artistfeldP1234.png");
}

#coverfeldp1234{
    -fx-background-image: url("../../resources/icons/coverfeldP1234.png");
}

#ereignisfeldp1234{
    -fx-background-image: url("../../resources/icons/ereignisfeldP1234.png");
}

#faktfeldp1234{
    -fx-background-image: url("../../resources/icons/faktfeldP1234.png");
}

#titelfeldp1234{
    -fx-background-image: url("../../resources/icons/titelfeldP1234.png");
}

#endfeldp1234{
    -fx-background-image: url("../../resources/icons/endfeldP1234.png");

}






#interpretfeldleer, #coverfeldleer, #ereignisfeldleer, #faktfeldleer, #titelfeldleer, #endfeldleer, #interpretfeldp1, #coverfeldp1, #ereignisfeldp1, #faktfeldp1, #titelfeldp1, #endfeldp1, 
#interpretfeldp12, #coverfeldp12, #ereignisfeldp12, #faktfeldp12, #titelfeldp12, #endfeldp12, #interpretfeldp2, #coverfeldp2, #ereignisfeldp2, #faktfeldp2, #titelfeldp2, #endfeldp2, #interpretfeldp3, #coverfeldp3, #ereignisfeldp3, #faktfeldp3, #titelfeldp3, 
#endfeldp4, #interpretfeldp4, #coverfeldp4, #ereignisfeldp4, #faktfeldp4, #titelfeldp4, #endfeldp4, #interpretfeldp13, #coverfeldp13, #ereignisfeldp13, #faktfeldp13, #titelfeldp13, #endfeldp13, #interpretfeldp14, #coverfeldp14, #ereignisfeldp14, #faktfeldp14, #titelfeldp14, #endfeldp14,
#interpretfeldp23, #coverfeldp23, #ereignisfeldp23, #faktfeldp23, #titelfeldp23, #endfeldp23, #interpretfeldp24, #coverfeldp24, #ereignisfeldp24, #faktfeldp24, #titelfeldp24, #endfeldp24, #interpretfeldp34, #coverfeldp34, #ereignisfeldp34, #faktfeldp34, #titelfeldp34, #endfeldp34,
#interpretfeldp123, #coverfeldp123, #ereignisfeldp123, #faktfeldp123, #titelfeldp123, #endfeldp123, #interpretfeldp124, #coverfeldp124, #ereignisfeldp124, #faktfeldp124, #titelfeldp124, #endfeldp124, #interpretfeldp134, #coverfeldp134, #ereignisfeldp134, #faktfeldp134, #titelfeldp134, #endfeldp134,
#interpretfeldp234, #coverfeldp234, #ereignisfeldp234, #faktfeldp234, #titelfeldp234, #endfeldp234, #interpretfeldp1234, #coverfeldp1234, #ereignisfeldp1234, #faktfeldp1234, #titelfeldp1234, #endfeldp1234{
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;

}

