#centerLayout{
    -fx-background-color: white;
}

#sideBar{
    -fx-background-color: white;
}

#topLayout{
    -fx-background-color: white;
}


#interpretFeldLeer{
    -fx-background-image: url("../../resources/icons/artistfeld.png");
}

#coverFeldLeer{
    -fx-background-image: url("../../resources/icons/coverfeld.png");
}

#ereignisFeldLeer{
    -fx-background-image: url("../../resources/icons/ereignisfeld.png");
}

#faktFeldLeer{
    -fx-background-image: url("../../resources/icons/faktfeld.png");
}

#titelFeldLeer{
    -fx-background-image: url("../../resources/icons/titelfeld.png");
}

#endFeldLeer{
    -fx-background-image: url("../../resources/icons/endfeld.png");

}
#lol{
    -fx-background-image: url("../../resources/icons/a.png");

}

#kreis{
    -fx-background-color: black;

}


#interpretFeldLeer, #coverFeldLeer, #ereignisFeldLeer, #faktFeldLeer, #titelFeldLeer, #endFeldLeer, #lol{
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;

}

